{
    "semi": false,
    "singleQuote": true,
    "singleAttributePerLine": false,
    "bracketSpacing": true,
    "useTabs": false,
    "tabWidth": 4,
    "jsxSingleQuote": true,
    "printWidth": 100,
    "arrowParens": "avoid"
}
