.insert-user-form .input-group {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 65px;
}

.insert-user-form .btn-group {
    display: flex;
    align-items: center;
    gap: 20px;
}

.insert-user-form .btn-group input {
    font-size: 1.3rem;
}

.insert-user-form .btn-group .btn-primary {
    border: none;
}