@font-face {
  font-family: 'Montserrat-Regular';
  src: url('./assets/fonts/Montserrat-Regular.ttf');
}

* {
  font-family: 'Montserrat-Regular';
}

body {
  margin: 0;
  box-sizing: border-box;
}

.App {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.disclaimer {
  font-size: 0.5em;
  font-style: italic;
}

.blue {
  color: rgb(7, 62, 215);
}
