.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    box-shadow: inset 0px 0px 100px 0px rgba(0, 0, 0, 0.1);
}

.btn:active {
    box-shadow: inset 0px 0px 100px 0px rgba(0, 0, 0, 0.2);
}